.img-float-left {
    float: left;
}

.img-float-right {
    float: right;
}

.copyright {
    display: block;
    color: #000;
    font-family: "robotoitalic", sans-serif;
    position: absolute;
    left:45%;
}

.copyright::before {
    content: "© ";
}

.div-img {
    position: relative;
}