.img-float-left {
    float: left;
}

.img-float-right {
    float: right;
}

.copyright {
    display: block;
    color: #000;
    font-family: "robotoitalic", sans-serif;
    text-align: center;
    visibility: hidden;
}

.copyright::before {
    content: "© ";
}